*{
    
}
body
{
    background-color: lavenderblush;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    background-color: whitesmoke;
    color: black;
}

.container{
	height: 500px;
    width: 900px ;
    position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.upperAlert{
   
    display: flex;
    justify-content: space-between;
    background-color: darkcyan;
}

h1{
    background-color: darkcyan;
    text-align: center;
    text-transform:uppercase;
    text-decoration: underline double;
}

.upperIntro{
    padding: 4px 4px;
    margin-bottom: 10px;
    margin: 0 10%;
    border: 5px solid lightslategrey;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: none;
    background-color: darkcyan;
}

img{
    height: 35px;
    width: 35px;
}

.grid-container{
    min-height: 60%;
    
    margin: 0% 10%;
    border: 5px solid lightslategrey;
    display: grid;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    grid-template-columns: 1fr 1fr;  
}

.left-side{
    font-size: 1.5rem;
    padding: 3px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color:coral;
}

.right-side{
    background-color:coral;
    font-size: 1.5rem;
    padding: 3px 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

div > li {
    background-color:coral;
    color: brown;
    font-style: italic;
    list-style:none;
}